{% extends "base2.jinja2" %}
{% block body %}
    <article class="entry">
        <form action="{{ request.route_url('edit') }}" method="get">
            <h2>{{ entry.title }}</h2>
            <h2>{{ entry.date.strftime('%b. %d, %Y') }}</h2>
            <p>{{ entry.content_md|safe }}</p>
            <input type="hidden" name="id" value="{{ entry.id }}">
            {% if request.authenticated_userid %}
                <input type="submit" name="edit" value="Edit">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ entry.title }}" data-via="jesseklein406">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            {% endif %}
        </form>
    </article>
{% endblock %}
