{% extends "base2.jinja2" %}
{% block body %}
    {% for entry in entries %}
        <article class="entry">
            <form action="{{ request.route_url('detail') }}" method="get">
                <h2>{{ entry.title }}</h2>
                <h2>{{ entry.date.strftime('%b. %d, %Y') }}</h2>
                <input type="hidden" name="id" value="{{ entry.id }}">
                <input type="submit" name="view" value="View">
            </form>
        </article>
    {% else %}
        <p><em>No entries here so far</em></p>
    {% endfor %}
{% endblock %}
